@page
@model LoginModel

<style>
    body {
        background: #f7f7f7;
    }

    .login-form {
        width: 500px;
 /*       margin-top: 50px auto;
        margin-left: 100px auto;*/
        font-size: 15px;
    }

        .login-form form {
            margin-bottom: 15px;
            /*background: #ffffff;*/
            background-color: rgb(0 0 0 / 40%);
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            padding: 30px;
            width: 500px;
            height: 450px;
        }

    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }

    .login-form .title {
        font-size: 20px;
        font-weight: 700;
        font-family: verdana;
    }


    /* Style the video: 100% width and height to cover the entire window */
    #myVideo {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
    }

    /* Add some content at the bottom of the video/page */
    .content {
        position: fixed;
        bottom: 10px;
        /*background: rgba(0, 0, 0, 0.5);
        color: #f1f1f1;*/
        width: 100%;
        padding: 75px; /*370px;*/
    }

</style>

@{
    ViewData["Title"] = "Log in";
}

<video autoplay muted loop id="myVideo">
    <source src="~/images/login_back.mp4" type="video/mp4">
</video>


@*<h1>@ViewData["Title"]</h1>*@
@*<div class="row content">*@
<div class="row content">
    @*<div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h2>Use a local account to log in.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to log in.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>*@

    <div class="login-form">
        <form id="account" method="post" style="border-radius: 10px; height: auto; opacity: 90%">
            @*<div class="mb-3 text-center title">
                <span style="color: black;">LOGIN</span>
            </div>*@
            <div asp-validation-summary="All" class="text-danger"></div>
            <div id="unauthorizedMessage" class="text-danger"></div>
            <div class="form-group" style="text-align: center; margin-bottom: 10px">
                <img src="@Url.Content("~/images/icon.jpg")" style="width: 100px; height: auto; border-radius: 10%; opacity: 80%" />
            </div>
            <div class="form-group">
                <input asp-for="Input.Email" class="form-control" placeholder="Username" 
                       style="margin-bottom: 20px"/>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.Password" class="form-control" placeholder="Password" 
                        style="margin-bottom: 20px"/>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group" style="text-align: center; margin-bottom: 10px">
                <button type="submit" class="btn btn-primary w-100">Log in</button>
            </div>
            <div class="clearfix">
                <br />
                <label class="float-left form-check-label" asp-for="Input.RememberMe" style="color: whitesmoke;">
                    <input asp-for="Input.RememberMe"/>
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
                <br />
                <a class="float-left" asp-area="Identity" asp-page="/Account/Register" style="color: #2d89ad">Register</a>
                <br />
                <a class="float-left" id="forgot-password" asp-page="./ForgotPassword" style="color: #2798c2">Forgot your password?</a>
            </div>           
        </form>
    </div>
</div>

<script>
    function getParameterByName(name, url = window.location.href) {
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }

    var param = getParameterByName("param");

    if (param == "ua")
    {
        document.getElementById("unauthorizedMessage").innerHTML = "The account is not yet linked to the application. <br />Please contact your administrator.";
    }

    if (detectMob())
    {
        document.getElementById("account").style.width = "auto";
        document.getElementById("account").style.margin = "-50px";
    }
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
