@page
@model IndexModel

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@Html.AntiForgeryToken()
@{
    ViewData["Title"] = "Loan Reports";
}
<div class="indexView">
    <div class="row" style="margin-bottom: 5px; margin-top: 5px">
        <div class="col-md-6">
            <h5 class="title-color" style="margin-top: 10px;"><i class="fas fa-print"></i> Loan Reports</h5>
        </div>

        <div class="col-md-6" style="padding: 0px">
            <div class="float-end">
                <div class="hstack gap-3 float end">
                    <a class="btn btn-light cmd-buttons" asp-area="" asp-page="/Index">
                        <span class="btn-label">
                            <i class="fa fa-arrow-left"></i>
                        </span>Home
                    </a>
                    <button class="btn btn-primary"
                            type="button"
                            onclick="CmdPreview()">
                        <span class="btn-label">
                            <i class="fa fa-plus-square"></i>
                        </span>
                        Preview
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            @(Html.Kendo().ListBox()
                .Name("RptLoansReportList")
                .DataValueField("Value")
                .DataTextField("Text")
                .HtmlAttributes(new { @style = "width: 100%; height: 80vh" })
                .Selectable(ListBoxSelectable.Single)
                .Events(ev => ev.Change("ListBoxChange"))
                .BindTo(Model.Reports))
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-md-2" style="padding-top: 10px; font-weight: bold;">Date Start</label>
                <div class="col-sm-10">
                    <kendo-datepicker name="DateStart" placeholder="Date start" style="width: 200px; text-align:end;" on-change="DateChange" />
                </div>

            </div>

            <div class="form-group row" style="margin-top: 10px">
                <label class="col-md-2" style="padding-top: 10px; font-weight: bold;">Date End</label>
                <div class="col-sm-10">
                    <kendo-datepicker name="DateEnd" placeholder="Date end" style="width: 200px; text-align:end;" on-change="DateChange" />
                </div>
            </div>

            <div class="form-group row" style="margin-top: 10px">
                <label class="col-md-2" style="padding-top: 10px; font-weight: bold;">Employee: </label>
                <div class="col-md-10">
                    <kendo-combobox name="EmployeeId" style="width: 40%"
                                    placeholder="Employee"
                                    datatextfield="FullName"
                                    datavaluefield="Id"
                                    min-length="3"
                                    height="520"
                                    filter="FilterType.Contains"
                                    on-change="onEntityComboboxChange"
                                    bind-to="@Model.Employees">
                    </kendo-combobox>
                </div>
            </div>

            <div class="form-group row" style="margin-top: 10px">
                <label class="col-md-2" style="padding-top: 10px; font-weight: bold;">Loan: </label>
                <div class="col-md-10">
                    <kendo-combobox name="LoanId" style="width: 20%"
                                    placeholder="Loan"
                                    datatextfield="LoanDate2"
                                    datavaluefield="LoanId"
                                    min-length="3"
                                    height="520"
                                    filter="FilterType.Contains"
                                    on-change="onEntityComboboxChange"
                                    on-open="onLoanIdOpen"
                                    bind-to="@Model.Loans">
                    </kendo-combobox>
                </div>
            </div>

            <div class="form-group row" style="margin-top: 10px">
                <label class="col-md-2" style="padding-top: 10px; font-weight: bold;">Payroll Number: </label>
                <div class="col-md-10">
                    <kendo-combobox name="PayrollId" style="width: 20%"
                                    placeholder="Payroll Number"
                                    datatextfield="PayrollNumber"
                                    datavaluefield="Id"
                                    min-length="3"
                                    height="520"
                                    filter="FilterType.Contains"
                                    on-change="onEntityComboboxChange"
                                    bind-to="@Model.PayrollNumbers">
                    </kendo-combobox>
                </div>
            </div>

            <div class="form-group row" style="margin-top: 10px">
                <label class="col-md-2" style="padding-top: 10px; font-weight: bold;">Period: </label>
                <div class="col-md-10">
                    <kendo-combobox name="PeriodId" style="width: 20%"
                                    placeholder="Period"
                                    datatextfield="Period"
                                    datavaluefield="Id"
                                    min-length="3"
                                    height="520"
                                    filter="FilterType.Contains"
                                    on-change="onEntityComboboxChange"
                                    bind-to="@Model.Periods">
                    </kendo-combobox>
                </div>
            </div>

            <div class="form-group row" style="margin-top: 10px">
                <label class="col-md-2" style="padding-top: 10px; font-weight: bold;">Month: </label>
                <div class="col-md-10">
                    <kendo-combobox name="MonthId" style="width: 20%"
                                    placeholder="Month"
                                    datatextfield="Month"
                                    datavaluefield="Id"
                                    min-length="3"
                                    height="520"
                                    filter="FilterType.Contains"
                                    on-change="onEntityComboboxChange"
                                    bind-to="@Model.Months">
                    </kendo-combobox>
                </div>
            </div>

            <div class="form-group row" style="margin-top: 10px">
                <label class="col-md-2" style="padding-top: 10px; font-weight: bold;">Company: </label>
                <div class="col-md-10">
                    <kendo-combobox name="CompanyId" style="width: 50%"
                                    placeholder="Company"
                                    datatextfield="Company"
                                    datavaluefield="Id"
                                    min-length="3"
                                    height="520"
                                    filter="FilterType.Contains"
                                    on-change="onEntityComboboxChange"
                                    bind-to="@Model.Companies">
                    </kendo-combobox>
                </div>
            </div>

            <div class="form-group row" style="margin-top: 10px">
                <label class="col-md-2" style="padding-top: 10px; font-weight: bold;">Receipt Number: </label>
                <div class="col-md-10">
                    <input class="form-control" placeholder="Receipt Number" id="ReceiptNumber" name="ReceiptNumber" style="width: 20%; text-align: start" />
                </div>
            </div>

            <div class="form-group row" style="margin-top: 10px">
                <label class="col-md-2" style="padding-top: 10px; font-weight: bold;">Receipt Date</label>
                <div class="col-md-10">
                    <kendo-datepicker name="ReceiptDate" placeholder="Receipt Date" style="width: 20%; text-align:end;" on-change="DateChange" />
                </div>
            </div>

            <div class="form-group row" style="margin-top: 10px">
                <label class="col-md-2" style="padding-top: 10px; font-weight: bold;">Receipt Amount: </label>
                <div class="col-md-10">
                    <input class="form-control" placeholder="Receipt Amount" id="ReceiptAmount" name="ReceiptAmount" data-inputmask="'alias': 'currency'" style="width: 20%; text-align: end" />
                </div>
            </div>

            <div class="form-group row" style="margin-top: 10px">
                <label class="col-md-2" style="padding-top: 10px; font-weight: bold;">Filename: </label>
                <div class="col-md-10">
                    <input class="form-control" placeholder="Filename" id="FileName" name="FileName" style="width: 20%; text-align: start" />
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Pages/RptLoans/Index.cshtml.js"></script>
}

