@page
@model DetailModel

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@Html.AntiForgeryToken()
@{
    Layout = null;
}

@functions
{

}

<style>
    /* body{
                  margin:0;
                  overflow:hidden;
                }*/

    #TrnPayrollOtherDeductionLines {
        height: 60vh; /*
                    max-width: 95vw;
                    min-width: 85vw;*/
        /*width: 95vw;*/
        width: 96vw;
    }

    /*    .k-grid-header .k-header {
                position: relative;
                cursor: default;
                text-align: center;
                vertical-align: middle;
                overflow: hidden;
                white-space: initial;
            }*/

    .form-group {
        margin-top: 5px;
    }
</style>

<form id="frmDetail" method="post" style="margin-top: 10px">
    <div class="row" style="margin-bottom: 5px; margin-top: 5px">
        <div class="col-md-6">
            <h5 class="title-color"><i class="fa fa-circle-minus"></i> Payroll Other Deduction Detail</h5>
        </div>

        <div class="col-md-6" style="padding: 0px">
            <div class="float-end">
                <div class="hstack gap-3 float end">
                    <button class="btn btn-info"
                            type="button"
                            onclick="CmdLoans()">
                        Get Loans
                    </button>

                    <button class="btn btn-info"
                            type="button"
                            onclick="CmdQuickEncode()">
                        Quick Encode
                    </button>

                    <button class="btn btn-light cmd-buttons"
                            type="button"
                            onclick="CmdPreviousPage()">
                        <span class="btn-label">
                            <i class="fa fa-arrow-left"></i>
                        </span>
                    </button>

                    <button class="btn btn-light cmd-buttons"
                            type="button"
                            onclick="CmdNextPage()">
                        <span class="btn-label">
                            <i class="fa fa-arrow-right"></i>
                        </span>
                    </button>

                    <button class="btn btn-light cmd-buttons"
                            type="button"
                            onclick="CmdPreview()">
                        <span class="btn-label">
                            <i class="fa fa-print"></i>
                        </span>
                        Print
                    </button>

                    <button class="btn btn-danger"
                            type="button"
                            onclick="CmdDelete()">
                        <span class="btn-label">
                            <i class="fa fa-trash"></i>
                        </span>
                        Delete
                    </button>

                    <button id="btnSave"
                            class="btn btn-primary  cmd-buttons"
                            type="button"
                            onclick="CmdSave()">
                        <span class="btn-label">
                            <i class="fa fa-lock"></i>
                        </span>
                        Save
                    </button>

                    <button class="btn btn-light cmd-buttons"
                            type="button"
                            onclick="CmdBack()">
                        <span class="btn-label">
                            <i class="fa fa-arrow-left"></i>
                        </span>
                        Back
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom: 5px; margin-top: 5px">
        <div class="col-md-6">
            <div class="form-group row" hidden>
                <label class="col-md-2" style="padding-top: 5px; font-weight: bold;">Id: </label>
                <div class="col-md-10">
                    <kendo-textbox name="Id" placeholder="Id" value="@Model.PayrollOtherDeductionDetail.Id" style="width: 20%">
                    </kendo-textbox>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2" style="padding-top: 5px; font-weight: bold;">Period: </label>
                <div class="col-md-10">
                    <kendo-combobox name="PeriodId" style="width: 20%"
                                    placeholder="Period"
                                    datatextfield="Period"
                                    datavaluefield="Id"
                                    value="@Model.PayrollOtherDeductionDetail.PeriodId"
                                    min-length="3"
                                    height="520"
                                    enable="false"
                                    filter="FilterType.Contains"
                                    on-change="onEntityComboboxChange"
                                    bind-to="@Model.ComboboxDataSources.PeriodCmbDs">
                    </kendo-combobox>
                </div>

            </div>

            <div class="form-group row">
                <label class="col-md-2" style="padding-top: 5px; font-weight: bold;">POD Number: </label>
                <div class="col-md-10">
                    <kendo-textbox name="Podnumber" placeholder="OT Number" enable="false" value="@Model.PayrollOtherDeductionDetail.Podnumber" style="width: 20%">
                    </kendo-textbox>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2" style="padding-top: 5px; font-weight: bold;">POD Date: </label>
                <div class="col-md-10">
                    <kendo-datepicker name="Poddate" placeholder="OT Date" value="@Model.PayrollOtherDeductionDetail.Poddate" style="width: 20%; text-align:end;" on-change="onDateChange" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2" style="padding-top: 5px; font-weight: bold;">Payroll Group: </label>
                <div class="col-md-10">
                    <kendo-combobox name="PayrollGroupId" style="width: 40%"
                                    placeholder="Payroll Group"
                                    datatextfield="PayrollGroup"
                                    datavaluefield="Id"
                                    value="@Model.PayrollOtherDeductionDetail.PayrollGroupId"
                                    min-length="3"
                                    height="520"
                                    enable="false"
                                    filter="FilterType.Contains"
                                    on-change="onEntityComboboxChange"
                                    bind-to="@Model.ComboboxDataSources.PayrollGroupCmbDs">
                    </kendo-combobox>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2" style="padding-top: 5px; font-weight: bold;">Remarks: </label>
                <div class="col-md-10">
                    <kendo-textbox name="RemarksHeader" placeholder="Remarks" value="@Model.PayrollOtherDeductionDetail.Remarks" style="width: 100%">
                    </kendo-textbox>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-md-2" style="padding-top: 5px; font-weight: bold;">Prepared By: </label>
                <div class="col-md-10">
                    <kendo-combobox name="PreparedBy" style="width: 35%"
                                    placeholder="Prepared By"
                                    datatextfield="FullName"
                                    datavaluefield="Id"
                                    value="@Model.PayrollOtherDeductionDetail.PreparedBy"
                                    min-length="3"
                                    height="520"
                                    filter="FilterType.Contains"
                                    on-change="onEntityComboboxChange"
                                    bind-to="@Model.ComboboxDataSources.UserCmbDs">
                    </kendo-combobox>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2" style="padding-top: 5px; font-weight: bold;">Checked By: </label>
                <div class="col-md-10">
                    <kendo-combobox name="CheckedBy" style="width: 35%"
                                    placeholder="Checked By"
                                    datatextfield="FullName"
                                    datavaluefield="Id"
                                    value="@Model.PayrollOtherDeductionDetail.CheckedBy"
                                    min-length="3"
                                    height="520"
                                    filter="FilterType.Contains"
                                    on-change="onEntityComboboxChange"
                                    bind-to="@Model.ComboboxDataSources.UserCmbDs">
                    </kendo-combobox>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2" style="padding-top: 5px; font-weight: bold;">Approved By: </label>
                <div class="col-md-10">
                    <kendo-combobox name="ApprovedBy" style="width: 35%"
                                    placeholder="Approved By"
                                    datatextfield="FullName"
                                    datavaluefield="Id"
                                    value="@Model.PayrollOtherDeductionDetail.ApprovedBy"
                                    min-length="3"
                                    height="520"
                                    filter="FilterType.Contains"
                                    on-change="onEntityComboboxChange"
                                    bind-to="@Model.ComboboxDataSources.UserCmbDs">
                    </kendo-combobox>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2" style="padding-top: 5px; font-weight: bold;">Is Locked: </label>
                <div class="col-md-10">
                    <kendo-checkbox name="IsLocked" size=ComponentSize.Medium rounded=Rounded.Medium checked="@Model.PayrollOtherDeductionDetail.IsLocked" on-change="onCheckboxChange" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-2">
                    <button class="btn btn-info"
                            type="button"
                            onclick="CmdImportOtherDeduction()"
                            style="width: 100%">
                        Import
                    </button>
                </div>
                <div class="col-md-10">
                    <input type="file" accept=".xlsx, .xls, .txt, .csv" class="form-control" id="file" name="file" style="width: 35%">
                </div>
            </div>
        </div>
    </div>

    @(
        Html.Kendo().Grid(Model.PayrollOtherDeductionDetail.TrnPayrollOtherDeductionLines)
                .Name("TrnPayrollOtherDeductionLines")
                .Scrollable()
                .ToolBar(x =>
                {
                    x.Custom().Text("Add POD Line").IconClass("k-icon k-i-plus").HtmlAttributes(new { onclick = "CmdAddPayrollOtherDeductionLine(); return false;" });
                    x.Custom().Text("Delete All Lines").IconClass("k-icon k-i-table-delete").HtmlAttributes(new { onclick = "CmdDeleteAllLines(); return false;" });
                    x.Excel();
                    x.Pdf();
                })
                .Excel(excel => excel.FileName("Other Deduction Lines.xlsx").Filterable(true))
                .Events(e => e.ExcelExport("ExcelExport").DataBound("onDetailGridDataBound"))
                .Columns(columns =>
                {
                    columns.Command(command => command.Custom("Delete")
                        .IconClass("k-icon k-i-x")
                        .Click("CmdDeletePayrollOtherDeductionLine"))
                        .Width(110);
                    columns.Bound(x => x.EmployeeId).Title("Employee")
                        .Filterable(false).EditorTemplateName("FKForPODEmployee")
                        .ClientTemplate("#= GetEmployeeText(data) #")
                        .Width(300);
                    columns.Bound(x => x.OtherDeductionId)
                        .Title("Other Deduction")
                        .Filterable(false)
                        .EditorTemplateName("FKForPODOtherDeduction")
                        .ClientTemplate("#= GetDeductionText(data) #")
                        .Width(250);
                    columns.Bound(x => x.EmployeeLoanId)
                        .Title("Loan Date")
                        .Filterable(false)
                        .EditorTemplateName("FKForPODLoan")
                        .ClientTemplate("#= GetLoanText(data) #")
                        .Width(250);
                    columns.Bound(x => x.Amount)
                        .Title("Amount")
                        .Filterable(false)
                        .Width(130)
                        .HtmlAttributes(new { @style = "text-align: end;" })
                        .ClientFooterTemplate("<div style='text-align: end'>#=kendo.format(\"{0:n2}\", kendo.parseFloat(sum))#</div>");
                    columns.Bound(x => x.EmployeeName)
                        .Title("Filter Employee")
                        .Filterable(true)
                        .Width(250);
                    columns.Bound(x => x.OtherDeductionText)
                        .Title("Filter Other Deduction")
                        .Filterable(true)
                        .Width(250);
                    columns.Template("").Title("");
                    columns.Bound(x => x.Id).Filterable(false).Hidden();
                    columns.Bound(x => x.IsDeleted).Hidden();
                })
                .Editable(editable => editable.Mode(GridEditMode.InCell))
                .Filterable()
                .Navigatable()
                .Selectable(x => x.Mode(GridSelectionMode.Single))
                .Pageable()
                .DataSource(dataSource => dataSource
                .Ajax()
                .Aggregates(aggregates =>
                {
                    aggregates.Add(x => x.Amount).Sum();      
                })
                .Model(model =>
                {
                    model.Id(p => p.Id);
                    model.Field(x => x.EmployeeId);
                    model.Field(x => x.Amount);
                    model.Field(x => x.OtherDeductionText);
                    model.Field(x => x.IsDeleted);
                })
            .Sort(x => x.Add("EmployeeName").Ascending())
            .ServerOperation(false)
            .PageSize(100))
        )
</form>

<script>
    $("#frmDetail").keydown(function (e) {
        if (isFormDirty(e)) {
            $isDirty = true;
        }
    });
</script>